{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block h1 %}Mon profil !{% endblock %}

{% block body %}
    {# {{ dump(user) }} #}
    {# {{ dump(app.user) }} #}
    <ul class="list-group">
        <li class="list-group-item">E-mail : {{ app.user.email }}</li>
        <li class="list-group-item">Identifiant de connexion : {{ app.user.username }}</li>
        <li class="list-group-item">Rôles : 
            <ul class="list-group">
                {% for role in app.user.roles %}
                    {% if (role == "ROLE_USER") %}
                        <li class="list-group-item">Membre</li>
                    {% elseif role =="ROLE_ADMIN" %}
                        <li class="list-group-item">Administrateur</li>
                    {% else %}
                        <li class="list-group-item">{{ role }}</li>
                    {% endif %}
                {% endfor %}
            </ul>        
        </li>
    </ul>
{% endblock %}
