{% extends "base.html.twig" %}

{% block h1 %}
    {% if titre is defined %}
        {{ titre }}
    {% else %}
    Formulaire
    {% endif %}
{% endblock %}


{% block body %}
    {# {{ form(form) }}     #}


    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}

        <div class="row">
            {{ form_row(form.enregistrer, { 'label': bouton }) }}
            <div class="form-group ml-2">
                <a href="{{ path("artist") }}" class="btn btn-danger">Annuler</a>
            </div>
        </div>
     {{ form_end(form) }}

{% endblock %}

{% block title %}
    {% if titre is defined %}
        {{ titre }}
    {% else %}
        Ajouter un artiste
    {% endif %}
    
{% endblock title %}