{% extends "base.html.twig" %}

{% block h1 %}
    {% if titre is defined %}
        {{ titre }}
    {% else %}
    Formulaire
    {% endif %}
{% endblock %}

{% block body %}
    {# {{ form(form) }}     #}

    {{ form_start(formUser) }}
        {# {{ form_row(formUser.email) }}
        {{ form_row(formUser.roles) }}
        {{ form_row(formUser.password) }} #}

        {{ form_widget(formUser) }} {# affiche la meme chose que ci-dessus #}
      
        <div class="row">
            <div class="form-group">
                <button class="btn btn-primary">Enregistrer</button>
            </div>
            
            <div class="form-group ml-2">
                <a href="{{ path("user") }}" class="btn btn-danger">Annuler</a>
            </div>
        </div>
     {{ form_end(formUser) }}

{% endblock %}

{% block title %}
    {% if titre is defined %}
        {{ titre }}
    {% else %}
        Ajouter un artiste
    {% endif %}
    
{% endblock title %}